.cards {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.item-card {
  width: 100px;
  height: 100px;
  border: 1px solid gray;
}

.add-btn {
  width: 100%;
}

h2 {
  margin: 10px;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 400px;
  border: 1px solid gray;
  padding: 10px;
}
